.idea
/*/.idea

/*/target
/*/api-gateway.iml
/*/inventory-service.iml
/*/order-service.iml
/*/HELP.md

/*/data
/*/logs
.dblwr
*ib
binlog*
compiler.xml
encodings.xml
misc.xml
*.ibd
*/mysql
ibdata1
/*/tmp

/*/.mvn
/*/.DS_Store

*/volume-data


